<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .btn {
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      display: block;
      width: 30vw
    }

    .box {
      background: grey;
      padding: 10px;
      border: 1px solid black;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <h1>Hello, Vue Turkey!</h1>
  <div id="app">
    <div v-if="showBooks">
      <div v-for="book in books">
        <h3>{{book.title}}</h3>
        <p>{{book.author}}</p>
      </div>
      <div :href="number"></div>
    </div>
    <button v-if="!showBooks" @click="toggleShowBooks()">Show Books</button>
    <button v-else @click="toggleShowBooks()">Hide Books</button>
    <div v-show="showBooks">Currently Showing Books</div>

    <div class="box" @mouseover="handleEvent">mouseover</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblclick="handleEvent">double click</div>
    <div class="box" @mousemove="handleMouseMove">Position - x: {{x}}, y:{{y}}</div>

  </div>
  <script src="app.js"></script>
</body>

</html>