<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .btn {
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      display: block;
      width: 30vw
    }
  </style>
</head>

<body>
  <h1>Hello, Vue Turkey!</h1>
  <div id="app">
    <div v-if="showBooks">
      <h2>The book is called...</h2>
      <p>{{title}} by {{author}}, age {{age}}</p>
      <button @click="age++">Age +1</button>
      <button @click="age--">Age -1</button>
    </div>
    <button v-if="!showBooks" @click="toggleShowBooks()">Show Books</button>
    <button v-else @click="toggleShowBooks()">Hide Books</button>
    <div v-show="showBooks">Currently Showing Books</div>
    <div v-if="number > 0.5">
      <p>The answer is: {{number}}</p>
    </div>
    <div class="btn" @click="changeAnswer()">Feeling lucky?</div>
    <script src="app.js"></script>
</body>

</html>